@model CompanyRestaurant.MVC.Models.MaterialUnitVM.MaterialUnitViewModel

@{
    ViewData["Title"] = "Yeni Malzeme Birimi Oluştur";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="Unit" class="control-label"></label>
        <input asp-for="Unit" class="form-control" />
        <span asp-validation-for="Unit" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MaterialId" class="control-label"></label>
        <input asp-for="MaterialId" class="form-control" />
        <span asp-validation-for="MaterialId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Oluştur" class="btn btn-primary" />
    </div>
</form>
