@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole<int>>

@{
    ViewData["Title"] = "Roller";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Yeni Rol Ekle</a>
    <a href="/Admin/RoleManager/UserRoleList" class="btn btn-outline-info">Kullanıcı Role Listesi</a>

</p>

<table class="table">
    <thead>
        <tr>
            <th>Rol Adı</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Name</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@role.Id" class="btn btn-info">Düzenle</a>
                    <a asp-action="Delete" asp-route-id="@role.Id" class="btn btn-danger">Sil</a>
                    
                </td>
            </tr>
        }
    </tbody>
</table>

